/* Updates Page */
.updates-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  background-color: #000; /* Black background */
  padding: 0px;
}

.green-wave-container {
  position: relative;
  width: 100%;
}

/* Green Wave Image */
.green-wave {
  width: 100%;
  height: 230px;
  margin-bottom: -5px; /* Slight overlap for a seamless look */
}

/* Green Wave Image Bottom */
.green-wave-btm {
  transform: scaleY(-1);
  width: 100%;
  height: 230px;
  margin-bottom: -5px; /* Slight overlap for a seamless look */
}

/* Carousel Container */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 20px 0;
}

/* Swiper styles */
.mySwiper {
  width: 70%;
  height: 350px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
@media (max-width: 768px) {
    
  .mySwiper {
    width: 90%; 
    height: auto; 
  }

  .carousel-container {
    flex-direction: column; 
    align-items: center; 
    
  }

  
  .carousel-image {
    width: 350px;
    height:350px;
    
  }
}
